<?xml version="1.0" encoding="UTF-8"?>
<suite name="Calculator Demo" verbose="10" parallel="false"
       thread-count="1">

    <test name="Calculation of two numbers">
        <classes>
            <class name="com.step2qa.CalculatorTest">
                <methods>
                    <include name="addition"/>
                    <include name="subtraction"/>
                    <include name="multiplication"/>
                    <include name="division"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>